@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Trykker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100..900&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Doppio+One&family=Trykker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+VIC:wght@100..400&family=Playwrite+FR+Moderne:wght@100..400&display=swap');

.playwrite-mx {
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }


  
  .trykker-regular {
    font-family: "Trykker", serif;
    font-weight: 400;
    font-style: normal;
  }

  .doppio-one-regular {
    font-family: "Doppio One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .tiro-devanagari-marathi-regular-italic {
    font-family: "Tiro Devanagari Marathi", serif;
    font-weight: 400;
    font-style: italic;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}